node_modules
dist
.git
.github
.vscode
*.log
*.md
!README.md
.env
.env.local
.env.*
!.env.prod
coverage
.nx
.angular
*.test.ts
*.spec.ts
__tests__
__mocks__
.prettierrc*
tsconfig.spec.json
jest.config*
.cursor

