services:
  api:
    container_name: notes-api
    image: griffin-api:latest
    build:
      context: .
      dockerfile: Dockerfile.api
    ports:
      - "10300:8080"
    restart: on-failure
    networks:
      - prod
    environment:
      - TYPESENSE_HOST=typesense
      - TYPESENSE_PORT=8108
      - TYPESENSE_PROTOCOL=http
      - TYPESENSE_API_KEY=xyz
