@tailwind base;
@tailwind components;
@tailwind utilities;
/* You can add global styles to this file, and also import other style files */

#root {
  background: #fafafa;
  color: rgb(238, 238, 238);
  font-weight: 400;
  height: 100vh;
}

.MuiTiptap-FieldContainer-root {
  min-height: 500px;
  border: none;

  ul, ol {
    margin-left: 20px;
  }

  .tiptap.ProseMirror {
    max-height: 100%;
    overflow-y: scroll;
    h1 {
      font-size: 2rem;
    }

    h2 {
      font-size: 1.75rem;
    }

    h3 {
      font-size: 1.5rem;
    }
  }
}

.tiptap.ProseMirror {
  height: 100% !important;
  overflow: auto !important;
}

.MuiTiptap-FieldContainer-root {
  height: 100%;
  max-height: 100%;
}

.MuiTiptap-RichTextContent-root {
  height: 90%;
  max-height: 90%;
}
