@tailwind base;
@tailwind components;
@tailwind utilities;
/* You can add global styles to this file, and also import other style files */

.MuiTiptap-FieldContainer-root {
  min-height: 500px;
  border: none;
}

.tiptap.ProseMirror {
  height: 100%;
}

.MuiTiptap-FieldContainer-root {
  height: 95%;
}

.MuiTiptap-RichTextContent-root {
  height: 100%;
}