@import 'tailwindcss';

.html-preview {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  hyphens: auto;

  ul[data-type="taskList"] {
    li {
      @apply flex gap-2 items-center;
    }
  }

  pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    @apply bg-[var(--mantine-color-gray-1)] p-4 rounded;

    code {
      @apply bg-transparent p-0;
    }
  }
}